@model CarService.Web.ViewModels.Home.StartPageViewModel

@if (!Model.IsVerified)
{
    <div class="alert alert-info text-center">Uzupełnij swój profil pracownika</div>
}
<div class="container">
    @*<hr />*@<br />
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-primary" style="border-radius: 0px;">
                <div class="panel-heading clearfix" style="padding: 6px 6px 6px 6px; border-radius:0px;">
                    <h4 class="panel-title pull-left" style="padding-top:5px; ">Ostatnio modyfikowane</h4>
                </div>
                <div class="panel-body" style="padding: 0; margin-bottom:-20px;">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nr. zl.</th>
                                <th>Klient</th>
                                <th>Samochód</th>
                                <th>Typ</th>
                                <th>Status</th>
                                <th>Pracownik</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderItems)
                            {
                                <tr>
                                    <td><a href="@Url.Action("Edit", "Order", new { id = item.OrderId})">@item.OrderId</a></td>
                                    <td><a href="@Url.Action("Edit", "Customer", new { id = item.CustomerId, returnUrl = HttpContext.Current.Request.Url })">@item.Customer</a></td>
                                    <td>@item.Car</td>
                                    <td>@item.OrderType</td>
                                    <td>@item.OrderStatus</td>
                                    <td>@item.Employee</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary" style="border-radius: 0px;">
                <div class="panel-heading clearfix" style="padding: 6px 6px 6px 6px; border-radius:0px;">
                    <h4 class="panel-title pull-left" style="padding-top:5px; ">Szybkie dodawanie</h4>
                </div>
                <div class="panel-body" style="margin-bottom:-15px; margin-top:-15px;">
                    <div class="row">
                        <a href="@Url.Action("Create", "Order", new { returnUrl = HttpContext.Current.Request.Url })" class="btn btn-default btn-block" style="border-radius:0px; border-color:#6e80e7">Nowe zlecenie</a>
                    </div>
                    <div class="row">
                        <a href="@Url.Action("Create", "Customer", new { returnUrl = HttpContext.Current.Request.Url })" class="btn btn-default btn-block" style="border-radius:0px; border-color:#6e80e7">Nowy klient</a>
                    </div>
                    <div class="row">
                        <a href="@Url.Action("Create", "Car", new { returnUrl = HttpContext.Current.Request.Url })" class="btn btn-default btn-block" style="border-radius:0px; border-color:#6e80e7">Nowy samochód</a>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="row">
                            <a href="@Url.Action("Create", "Employee", new { returnUrl = HttpContext.Current.Request.Url })" class="btn btn-default btn-block" style="border-radius:0px; border-color:#6e80e7">Nowy pracownik</a>
                        </div>
                    }
                </div>
            </div>

            @*<div class="panel panel-body panel-default" style="border-radius: 0px;">
                <div class="panel-heading" style="background-color:white; padding: 0; margin-top:-15px;">
                    <h4>Dodaj naprawę</h4>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-default btn-block" style="border-radius:0px;">Hej</button>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-default btn-block" style="border-radius:0px;">sdfsdf</button>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-default btn-block" style="border-radius:0px;">Hedsfsdfj</button>
                </div>
            </div>*@
        </div>
    </div>
</div>