@model CarService.Web.ViewModels.Customer.CustomerEdit

<div class="form-group row">
    @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-3" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(m => m.Surname, new { @class = "control-label col-md-3" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(m => m.Phone, new { @class = "control-label col-md-3" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-3" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
</div>