@model CarService.Web.ViewModels.Order.EditOrder

<div class="container">
    <div class="page-header">
        <h3>
            Id zlecenia: <bold>@Model.Id</bold>
        </h3>
    </div>
    <div class="panel panel-default panel-body" style="border-radius: 0px;">
        <div class="row">
            <div class="col-md-8 col-md-push-1">
                <div class="form-group row">
                    <span class="col-md-2">Klient:</span>
                    <div class="col-md-6">
                        <p><b>@Model.Customer</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-md-2">Samochód:</span>
                    <div class="col-md-6">
                        <p><b>@Model.Car</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-md-2">Typ:</span>
                    <div class="col-md-6">
                        <p><b>@Model.OrderType</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-md-2">Status:</span>
                    <div class="col-md-6">
                        <p><b>@Model.OrderStatus</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-md-2">Opis:</span>
                    <div class="col-md-5">
                        @Html.TextAreaFor(m => m.RepairDescription, new { @class = "form-control", @rows = "4", @style = "border-radius:0px;", @readonly = true })
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-md-2">Przypisany do:</span>
                    <div class="col-md-6">
                        <p><b>@Model.Employee</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <button type="button" class="btn btn-primary pull-right" id="BtnEdit" style="border-radius: 0px; width:100px;">Edycja</button>
                </div>
                <div class="row">
                    <a href="@Model.ReturnUrl" class="btn btn-default pull-right" style="border-radius: 0px; width:100px;">Powrót</a>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Edit", "Order", new { returnUrl = Model.ReturnUrl}))
    {
        <div class="panel panel-default panel-body panel-edit hidden" style="border-radius: 0px; ">
            <div class="col-md-push-1">
                <div class="row form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.OrderStatus, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.OrderStatusId, Model.OrderStatuses, "--Wybierz--", new { @class = "form-control", @style = "border-radius: 0px" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Employee)
                        @Html.DropDownListFor(m => m.EmployeeId, Model.Employees, "--Wybierz--", new { @class = "form-control", @style = "border-radius: 0px" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.RepairDescription, new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.RepairDescription, new { @class = "form-control", @style = "border-radius: 0px;", @rows = "4" })
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="btn btn-primary pull-right" style="border-radius:0px;" value="Zapisz"/>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function () {
        $('#BtnEdit').on('click', function () {
            $('.panel-edit').removeClass('hidden');
        });
    })
</script>